# This workflow will build the contracts and run the tests for the repository using hardhat
name: Hardhat

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

on:
  push:
  pull_request:

jobs:
  test-hardhat:
    runs-on: ubuntu-latest
    name: Run Hardhat unit tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: ./.github/actions/install
      - name: Build contracts
        run: yarn compile:hardhat --force # don't use compilation cache
      - name: Run hardhat tests
        run: yarn test
